@import "tailwindcss";


@theme {
  --color-1: #F24182;
  --color-2: #D907A1;
  --color-3: #7D0D8C;
  --color-4: #550F8F;
  --color-5: #F29E38;
  --color-6: #F26E50;
  --color-text: #000000;
  --color-background: #E0E0E0;

  --font-subtitle: "Poppins", sans-serif;
  --font-banner: "WinterDraw", cursive;
  --font-text: "Open Sans", sans-serif;

}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@font-face {
  font-family: 'WinterDraw';
  src: url('/fonts/WinterDraw.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}