@import "tailwindcss";

@theme {
  /* COLORS */
  --color-1: #f24182;
  --color-2: #d907a1;
  --color-3: #7d0d8c;
  --color-4: #550f8f;
  --color-5: #f29e38;
  --color-6: #f26e50;

  /* TEXT */
  --color-text: #000000;

  /* BACKGROUND */
  --color-background: #f3f3f3;

  /* FONTS */
  --font-subtitle: "Poppins", sans-serif;
  --font-text: "Open Sans", sans-serif;
}

.text-gradient-primary {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
  --tw-gradient-from: #f24182;
  --tw-gradient-via: #d907a1;
  --tw-gradient-via-stops:
    var(--tw-gradient-position),
    var(--tw-gradient-from) var(--tw-gradient-from-position),
    var(--tw-gradient-via) var(--tw-gradient-via-position),
    var(--tw-gradient-to) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-via-stops);
  --tw-gradient-to: #7d0d8c;
  --tw-gradient-stops: var(
    --tw-gradient-via-stops,
    var(--tw-gradient-position),
    var(--tw-gradient-from) var(--tw-gradient-from-position),
    var(--tw-gradient-to) var(--tw-gradient-to-position)
  );
  background-clip: text;
  color: transparent;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@font-face {
  font-family: "WinterDraw";
  src: url("/fonts/WinterDraw.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}
