@import "tailwindcss";



@theme {
  --color-1: #f0f0f0;
  --color-2: #333333;
  --color-3: #25C7D9;
  --color-4: #f0f0f0;
  --color-5: #333333;
  --color-6: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}